/*
    /////////////////////
        vars
    /////////////////////
*/

//Website Colors Var

$black-color: #2C2E37; 
$white-color: #F4F4F4;
$main-color: #FE346E;
$pry-color: #ff502f;
$gray-color: #B8B8B8;
