<header>

    <img class="logo" src="assets/large-logo.png" alt="egylearn logo">

    <app-search></app-search>

    
</header>

<section class="about">
    <div class="container">
        <h2>
            ابحث عن دروسك اونلاين بدون اي قيود
            <br>
            ايجي ليرن سوف توفر لك امكانيه الوصول للمحتوي التعليمي بسهوله و بشكل مرن.
        </h2>
    </div>
</section>

<section class="who-use-us">
    <div class="container">
        <div class="counter">
            <span>طالب</span>
            <h1 id="visits">400</h1>
            <p class="ion-icon">+</p>
        </div>
        <div class="clear"></div>
        <a href="#" class="btn">أبدأ الان</a>
    </div>
</section>

<section class="intro">
    <div class="container">
        <h1>تعلم الان عن بعد من منزلك</h1>
        <h2>
            في الظل التطور التيكنولوجي اصبح من السهل التعلم عن بعد او 
            عبر الانترنت و هذا ما نحاول تحقيقه
        </h2>
        <a href="#" class="btn">أبدأ الان</a>
    </div>
</section>



        