<footer>
    <div class="container">
        <h1>EgyLearn Made With <span>Love</span> In Egypt By <a href="https://www.facebook.com/profile.php?id=100008415793133" target="_blank">NourEldin</a></h1>
        <div class="donation">
            <h3>Would you like to</h3>
            <a href="https://www.buymeacoffee.com/yuvNMQfC7" target="_blank" class="coffe-btn">
                <span>buy me a coffee</span>
                <img src="assets/heart-icon.png">
            </a>
        </div>
    </div>
</footer>
