@import "../../../styles.scss";

footer {
    width: 100%;
    background-color: $black-color;
    text-align: center;
    padding: 1.5rem 0px;
    margin-top: 2rem;

    h1,
    h3,
    a {
        color: $white-color;
    } //adding a default color

    h1 {
        font-size: 1.2rem;
        text-decoration-thickness: 10px;
        text-transform: capitalize;
        font-weight: 600;

        @include bglaptop {
            font-size: 0.9rem;
        }

        span {
            color: $main-color;
        }
        a {
            text-decoration: underline;
            text-decoration-style: wavy;
            text-decoration-color: $main-color;
        }
    }

    .donation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        @include small-mobile {
            flex-direction: column;
        }

        h3 {
            margin-right: 1rem;
            font-size: 0.9rem;

            @include small-mobile {
                margin-bottom: 1rem;
            }
        } //the would you like to text

        .coffe-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            max-width: 200px;
            padding: 0.5rem 0.5rem;
            border-radius: 5px;
            background-color: $white-color;
            color: $black-color;
            font-weight: 700;

            @include bglaptop {
                padding: 0.3rem 0.2rem;
            }

            span {
                padding-right: 0.5rem;
            }//the name with the link
            img {
                width: 20px;

                @include small-mobile{
                    width: 17px;
                }
            } //the small hear icon
        } //the end of buy me a coffe link
    }
}
